@font-face {
  font-family: SH PINSCHER;
  src: url("res/SHPinscher-Regular.otf") format("opentype");
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'SH PINSCHER', cursive;
  font-size: 20px;
  font-weight: bold;
}

.big {
  margin-top: -30px;
  font-size: 40px;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

.container {
  position: absolute;
}

#main {
  left: 100px;
  top: 50px;
  right: 100px;
}

#info {
  left: 200px;
  bottom: 75px;
  right: 200px;
  text-align: center;
}
